.search{
  width: 100%;
  height: 60px;
  background: #496069;
  color: #e1e1e1;
  position: fixed;
  top: 0;
  z-index: 999;

  .search_text{
    width: 86%;
    height: 50px;
    line-height: 50px;
    margin: 0 auto;
    border-radius: 30px;
    text-align: center;
    color: #e1e1e1;
    font-size: 26px;
    background: #fff;
    image{
      width: 30px;
      height: 30px;
      vertical-align: text-bottom;
    }
  }
}

.banner{
  width: 100%;
  padding-top: 60px;
  height: 364px;
  image{
    width: 100%;
    height: 100%;
  }
}

.nav{
  width: 100%;
  height: 208px;
  // background: rgb(73, 139, 206);
  border-bottom: 1px solid #e1e1e1;
  display: flex;
  justify-content: space-around;
  .nav_list{
    width: 28%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    .nav_icon{
      
      width: 110px;
      height: 110px;
      font-size: 48px;
      border-radius: 50%;
      font-weight: bold;
      border: 2px solid #496069;
      color: #496069;
      text-align: center;
      line-height: 110px;
    }

    text{
      color: #10181e;
      font-size: 24px;
      margin-top: 10px;
    }

    &:first-child .nav_icon{
      background: url('../../../assets/discover_classify_group_icon.png') no-repeat center;
      background-size: 40%;
    }
    &:last-child .nav_icon{
      background: url('../../../assets/discover_classify_cinema_icon.png') no-repeat center;
      background-size: 60%;
    }
  }
}

.findWrap{
  padding-bottom: 110px;
  .findList{
    width: 100%;
    border-top: 1px solid #e1e1e1;
    .hr{
      height: 20px;
      background: #ebebeb;
    }

    image{
      width: 100%;
      height: 365px;
    }
    .name{
      width: 92%;
      margin: 20px auto;
      font-size: 34px;
      text-align: center;
    }
    .like{
      font-size: 20px;
      text-align: center;
      padding-bottom: 30px;
      color: #c2c0c0;
      image{
        width: 22px;
        height: 22px;
      }
    }
  }  
}
