.main_wrap{
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 90px;
  .movie_list{
    width: 100%;
    height: 212px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    .movie_img{
      width: 212px;
      height: 100%;
      float: left;
      display: flex;
      image{
        margin: auto;
        width: 110px;
        height: 160px;
      }
    }
    .movie_content{
      float: left;
      font-size: 22px;
      height: 100%;
      line-height: 30px;
      color: #818c91;
      .title{
        font-size: 30px;
        color: #10181e;
        padding: 20px 0;
      }
      .text{
        width: 24em;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        line-height: 1.1rem;
      }
      // .explain{
      //   width: 24em;
      //   overflow:hidden;
      //   text-overflow:ellipsis;
      //   white-space:nowrap;
      // }
      // .score{
      //   width: 24em;
      //   overflow:hidden;
      //   text-overflow:ellipsis;
      //   white-space:nowrap;
      // }
    }
  }

}