.main_wrap{
  background: #fff;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 76px;
  padding-bottom: calc(24px + env(safe-area-inset-bottom));
  .movie_list{
    width: 100%;
    min-height: 220px;
    background: #fff;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    display: flex;
    .movie_img{
      width: 180px;
      min-height: 220px;
      display: flex;
      flex-shrink: 0;
      image{
        margin: auto;
        width: 118px;
        height: 168px;
        border-radius: 6px;
      }
    }
    .movie_content{
      flex: 1;
      min-width: 0;
      font-size: 22px;
      min-height: 220px;
      line-height: 30px;
      color: #818c91;
      padding-right: 24px;
      box-sizing: border-box;
      .title{
        font-size: 32px;
        color: #10181e;
        padding: 20px 0;
        line-height: 1.25;
      }
      .text{
        width: 100%;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        line-height: 1.1rem;
      }
      // .explain{
      //   width: 24em;
      //   overflow:hidden;
      //   text-overflow:ellipsis;
      //   white-space:nowrap;
      // }
      // .score{
      //   width: 24em;
      //   overflow:hidden;
      //   text-overflow:ellipsis;
      //   white-space:nowrap;
      // }
    }
  }

}
