.aplash_wrap{
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  .splash_bg_loop{
    position: absolute;
    left: 0;
    top: 0;
    height: 200%;
    width: 100%;
    animation: slideshow 36s linear infinite;
    z-index: 99;
  }
  .splash_bg_img{
    display: block;
    width: 100%;
    height: 50%;
  }
  .logo{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: #000;
    position: absolute;
    top: 0;
    z-index: 999;
    image{
      display: block;
      position: static;
      margin: 200px auto 0;
      width: 128px;
      height: 110px;
      animation: normal;
    }
  }
  .login{
    background: none;
    width: 200px;
    margin-top: 200px;
    color: #fff;
    text-align: center;
  }
  .direct_login{
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
  }
}

@keyframes slideshow {
  0%    { transform: translateY(0); }
  100%  { transform: translateY(-50%); }
}
