.movie_list_wrap{
  .movie_data{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: calc(120px + env(safe-area-inset-bottom));
    box-sizing: border-box;
    .item{
      width: 100%;
      min-height: 372px;
      margin: 0;
      background: #fff;
      color: #496069;
      text-align: center;
      border-radius: 8px;
      overflow: hidden;
      image{
        width: 100%;
        height: 320px;
      }
      .text{
        width: 100%;
        padding: 8px 6px 0;
        box-sizing: border-box;
        overflow:hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
        font-size: 22px;
      }
    }
  }

  .movie_normal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    width: 100%;    
    image{
      display: block;
      margin-top: 50%;
      margin: 50% auto 3%;
      width: 100px;
      height: 100px;
    }    
    text{
      display: block;
      width: 100%;
      text-align: center;
      font-size: 27px;
      color: #10181e;
    }
    .click{
      width: 96%;
      min-height: 96px;
      line-height: 1.5;
      padding: 22px 20px;
      box-sizing: border-box;
      margin: 5% auto 0;
      background: #ebebeb;
      color: #354b54;
      text-align: center;
      font-size: 25px;
    }
  }
}


.hide{
  display: none !important;
}

.show{
  display: block !important;
}
