.details_wrap{
  background: #f4f4f4;
  height: 100vh;
  .img{
    width: 100%;
    height: 420px;
    image{
      width: 100%;
      height: 100%;
    } 
  }
  .main{

  }


  .like{

  }

  .pj{

  }


  .header{

  }


  .movie_content{

  }
}
